.mapWrapper {
    margin: auto;
    width: 700px;

    border-top: 2px solid white;
    padding: 16px 0;
    margin-bottom: 26px;
}


.mapCustom {
    width: 100%;
    aspect-ratio: 11 / 7;
    margin: auto;
    margin-bottom: 16px;
    position: relative;
    overflow: hidden;

    background-image: url(/mapa-v2.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}



.markerWrapper {
    position: absolute;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.marker {
    width: 30px;
    height: 15px;
    border: 3px solid red;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
}

.selection {

    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 1;
    transform: translate(-20px, -20px);

    background-image: url(/marker-selection.png);
}