.mapWrapper {
    margin: auto;
    width: 700px;

    border-top: 2px solid white;
    padding: 10px 0;
}


.mapCustom {
    width: 100%;
    aspect-ratio: 11 / 7;
    margin: auto;
    margin-bottom: 16px;
    position: relative;

    background-image: url(/mapa-v2.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}



.markerWrapper {
    position: absolute;
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.marker {
    width: 30px;
    height: 15px;
    border: 3px solid red;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
}