.grid {
    margin: auto;
    width: 540px;

    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px 36px ;
}

.gridItem {
    display: flex;
    gap: 8px;
    height: 52px;
}

.avatar, .middle, .actions {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    color: #D23A4F;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    width: 52px;
    height: 52px;
}

.middle {
    padding: 8px;
    flex-grow: 1;
}

.actions {
    padding: 8px;
}